<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

    <h4>Product Add</h4>

    <form action="/product-save" method="post" th:object="${productDTO}">
        <div>
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="productName"
                   th:field="*{productName}" class="form-control form-select-sm">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" th:field="*{price}"
                   class="form-control form-select-sm">
        </div>

        <input type="submit" value="Submit" />
    </form>
</body>
</html>